<div class="todo-content">
    <h1 class="page-title">Emergency Vehicle Dispatch System</h1>
    <div class="todo-create">
      <form #todoForm="ngForm" (ngSubmit) = "createTodo(todoForm)">

        <select (change)="onSelect($event.target.value)">
          <option *ngFor="let vehicle of newTodo.vehicleTypes" [value]="vehicle.id">{{vehicle.name}}</option>
        </select>

        <input type="text" class="todo-title" id="zipCode" placeholder="Enter Zip Code and press Enter"
               required
               name="zipCode" [(ngModel)]="newTodo.zipCode"
               #title="ngModel" >

    	</form>
    </div>

    <ul class="todo-list">
      <li *ngFor="let todo of todos; let i = index" [class.completed]= "todo.completed === true" >
        <div class="todo-row" *ngIf="i==0 && (!editing || editingTodo.id != todo.id)">
           <span style="padding-right: 3%">
            	<h4>Request ID</h4>
            </span>
          <span style="padding-right: 3%">
            <h4>Vehicle Type</h4>
            </span>
          <span style="padding-right: 3%">
            <h4>Zip Code</h4>
            </span>
          <span style="padding-right: 3%">
            <h4>Vehicle ID</h4>
            </span>
          <span style="padding-right: 3%">
            	<h4>Distance</h4>
            </span>
          <span style="padding-right: 3%">
            	<h4>Source</h4>
            </span>
        </div>
        <div class="todo-row" *ngIf="!editing || editingTodo.id != todo.id">

            <span style="padding-left: 5% ;padding-right: 5%">
            	{{todo.requestId}}
            </span>
          <span style="padding-left: 6% ;padding-right: 8%">
            	{{todo.vehicleType}}
            </span>
          <span style="padding-left: 3% ;padding-right: 5%">
            	{{todo.zipCode}}
            </span>
          <span style="padding-left: 5% ;padding-right: 10%">
            	{{todo.vehicleId}}
            </span>
          <span style=" padding-right: 5%">
            	{{todo.distance}}
            </span>
          <span style="padding-left: 2%;color: #CD906C" tooltip="{{todo.path}}">
            <u>{{todo.source}}</u>
            </span>
        </div>
      </li>
    </ul>
    <div class="no-todos" *ngIf="todos && todos.length == 0">
        <p>No Requests Found!</p>
    </div>
</div>
